.footer-admin{
    background-color: $color-5;
    padding: 20px 0px;
    .footer-bottom{
        text-align: center;
        p{
            color: $color-6;
            font-size: 14px;
            font-weight: 400;
        }
    }
}