.footer{
    background-color: $color-5;
    padding: 40px 0 10px;
    .footer-top{
        text-align: center;
        padding-bottom: 20px;
        .footer-logo{
            color: $color-6;
            font-size: 25px;
            font-weight:400;
            
            span{
                color: $color-4;
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .footer-contact{
            p{
                color: $color-6;
                font-size: 16px;
                font-weight: 400;
                i{
                    padding-right: 5px;
                    font-size: 20px;
                }
            }

            .address{
                padding-bottom: 10px;
            }
        }

        .privacy-notice{
            color: $color-6;
            font-size: 16px;
        }
    }

    .footer-bottom{
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid $color-6;
        p{
            color: $color-6;
            font-size: 14px;
            font-weight: 400;
        }
    }
}